<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <property name="SERVICE_NAME" value="scepcli"/>
    <property name="LOG_PATH" value="C:/Workspace/GitHub/jscep-cli/logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${SERVICE_NAME}"/>

    <contextName>${SERVICE_NAME}</contextName>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS z} %contextName [%thread] %-5level %logger{36} %X - %msg %M:%L%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROLLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS z} %contextName [%thread] %-5level %logger{36} %X - %msg %M:%L%n
            </pattern>
        </encoder>
    </appender>

    <appender name="AUDIT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT_ROLLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}-audit.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}-audit.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="de.mtg.auditlogging.AuditAppender">
        <appender-ref ref="AUDIT_ROLLER"/>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %msg</pattern>
        </layout>
        <applicationName>KMS</applicationName>
    </appender>

    <logger name="Audit" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>

    <logger name="com.opencsi">
        <level value="TRACE"/>
    </logger>

    <logger name="org">
        <level value="ERROR"/>
    </logger>


    <root level="DEBUG">
        <appender-ref ref="ROLLER"/>
        <!-- uncomment, if the json logfile should be created -->
        <!-- <appender-ref ref="ECS_JSON_FILE"/> -->
    </root>

</configuration>
